/*body */

body {
    color: #171B2A;  
    font-size: 14px;
}

a {
    color: #171B2A;
}

tbody a:hover {
    color: #3758ff;
    text-decoration: none;
}

td a {
    color: #171B2A;
    text-decoration: underline;
}
    
/*nav*/
.m-inner .nav>li>a {
    color: #171B2A;
}


/*sidebar*/

ul#mainsidebar li.active {
        fill: #171B2A!important;
}

ul#mainsidebar {
    background: #171B2A!important;
    }
.menu_title {
    display:none;
}

ul#mainsidebar li[data-uri='settings'] {
    position: relative;
}

.sidebar-close-button.open-panel {
     display:none;   
}

.second-level-container .second-level-content.open-panel {
    left: 20px!important;
}


.second-level-container.open-panel {
    border-right: none!important;
}

.second-level-container {
    background-color: transparent;
}

}
.second-level-container .second-level-content ul li a {
    color: #171B2A!important;
}

.second-level-container .second-level-content ul li a {
    color: #171B2A!important;
}

.second-level-container .second-level-content ul li.active a {
    color: #171B2A!important;
}


/*main*/
.openpanel .action_bar, .openpanel .main_content {
    margin-left: 263px;
    width: calc(100% - 280px);
}


.second-level-container .second-level-content ul {
    margin-top: 50px;
}


.section_title {
    color: #0000007d;
}
ul > .section_title:first-child {
    display: none;
}


/*buttons */
html body #maincontainer .btn{
        box-shadow: none;
    background-color: #171B2A;
}

html body #maincontainer .btn.btn-primary {
        box-shadow: none;
    background-color: #171B2A;
}
html body #maincontainer .btn.btn-primary:hover {
        opacity:0.8    
}

html body #maincontainer .btn.btn-nav{
        box-shadow: none;
    background-color: #171B2A;
}

html body #maincontainer .btn.btn-nav:hover {
          opacity:0.8    
}  

html body #maincontainer .btn.btn-success {
    box-shadow: none;
    background-color: #171B2A!important;
}

html body #maincontainer .btn.btn-success:hover {
    opacity:0.8    
}

html body #maincontainer .btn.btn-success:hover {
    opacity:0.8
}

html body #maincontainer .btn {
      box-shadow: none;
    background-color: #171B2A;
}
html body #maincontainer .btn:hover {
    opacity:0.8
}

/*panel*/
.panel_inner {
    border-bottom: none;
}

.panel_inner .pull-right {
    padding-top: 0px!important;
}

.panel_inner {
    padding-top: 45px;
}

.panel_inner h3 {
    color: #171B2A!important;
    font-weight: 600;
    font-size: 28px!important;
}


/*breadcrumbs*/

nav.breadcrumbs {
    position: absolute;
    top: 64px;
}

nav.breadcrumbs ul:first-child {
    display: none;
}

nav.breadcrumbs ul li a, nav.breadcrumbs ul li span {
    color: #000;
    font-size: 11px;
    opacity: .25;
}


/*dashboard*/

section.grid .widget h4 .metric {
    color: #171B2A!important;
    font-weight: 600!important;
}

section.grid .widget h4 {
    color: #171B2A!important;
    font-weight: 600!important;
}

section.grid .widget {
    border-radius: 4px!important;;
    border: 1px solid #eeeeee!important;;
}

body, body #contentwrapper, body .main_content, body .panel {
    background: #ffffff!important;;
}


/*analytics filters*/

}
header.PAFfilter div.dashboard_compare div.selected p, header.PAFfilter div.dashboard_period div.selected p {
    padding: 0 0 0 0px !important;;
}

.v600 body #contentwrapper .PAFfilter div.dashboard_compare div.selected svg path, .v600 body #contentwrapper .PAFfilter div.dashboard_kpis div.selected svg path, .v600 body #contentwrapper .PAFfilter div.dashboard_period div.selected svg path, .v600 body #contentwrapper .PAFfilter div.dashboard_period.filter div.selected svg path, .v600 body #contentwrapper .PAFfilter div.dashboard_venues div.selected svg path, .v600 body #maincontainer .PAFfilter div.dashboard_compare div.selected svg path, .v600 body #maincontainer .PAFfilter div.dashboard_kpis div.selected svg path, .v600 body #maincontainer .PAFfilter div.dashboard_period div.selected svg path, .v600 body #maincontainer .PAFfilter div.dashboard_period.filter div.selected svg path, .v600 body #maincontainer .PAFfilter div.dashboard_venues div.selected svg path {
    fill: #171B2A!important;
}
